* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

.background {
  max-width: 100vw;
  width: 100%;
  height: 80vh;
  background-position: -80% 10%;
  color: white;
  /* padding-top: 5rem; */
}

.content-background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding-top: 5.5rem;
}

.banner-content {
  padding: 20px 20px 5px 20px;
}

.banner-content p {
  padding-top: 10px;
  padding-left: 0px;
  padding-bottom: 0px;
  width: 75vw;
}

.banner-buttons {
  padding: 0px 20px;
}

.banner-button-1 {
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  height: 40px;
  width: 150px;
  background-color: #fe024e;
}

.banner-button-2 {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  width: 150px;
}

.main-staring {
  display: flex;
}

.staring {
  padding: 0px 5px 5px 5px;
}

.banner-reviews {
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .banner-buttons {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .background {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
  }
}
